# Milabench Agent Environment Variables
MILABENCH_BASE={{ milabench_base }}
MILABENCH_AGENT_JOB_DIR={{ agent_job_dir }}
MILABENCH_AGENT_LOG_DIR={{ agent_log_dir }}
MILABENCH_AGENT_LOG_LEVEL={{ agent_log_level }}
AGENT_SERVER_HOST={{ agent_server_host }}
AGENT_SERVER_PORT={{ agent_server_port }}
AGENT_SERVER_WORKERS={{ agent_server_workers }}
VENV_PATH={{ agent_install_dir }}/.venv
